<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <% include ../partials/links-and-scripts %>
    <!-- links and scripts that should go only on this page go here (outside partial) -->
  </head>
  <body>
    <img src="/images/filler.jpg" height="32px" width="32px" alt="Here for demonstration purposes only. Feel free to delete me!">
    <h1 class="light-font">Howdy howdy howdy!</h1>
  </body>
</html>
